body {
	
	
background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);

		
}

html {
	height: 100%;
}
.weather {
	margin-top : 5em;
	
	}
	.rain {
	
		background-image: none;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#90A8ED), to(#000000));
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#90A8ED), to(#000000));
		overflow:hidden;
	}

	.drop {
	 	background:-webkit-gradient(linear,0% 0%,0% 100%, from(#90A8ED ), to(rgba(255,255,255,0.6)));
		width:1px;
		height:55px;
		position: absolute;
		bottom:200px;
		-webkit-animation: fall .70s linear infinite;

	}

	@-webkit-keyframes fall{
		to{margin-top:900px;}
	}